<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="../../static/images/favicon.png" />
    <title>Gestionnaire - Register</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'register/style.css' %}">
</head>
<body>
    <header>
        <h1>Create account</h1>
    </header>
    <p id="date-information">/!\ The birth date must be american format like this : MM/DD/YYYY or MM/DD/YYYY</p>
    <form action method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input id="submit" type="submit" value="Sign in">
    </form>
    <div id="texts">
        {% block error_message %}
            {% if error_message %}<p id="error">{{ error_message }} !</p>{% endif %}
        {% endblock %}
        <p>You already have an account ? <a href="app_gestion_reservations/">Log in</a> here !</p>
    </div>
</body>
</html>